<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/welcome">Exercises</a>
    <ul class="nav">
      <li><a class="nav-link" routerLink="/Parent">Parent</a></li>
      <li><a class="nav-link" routerLink="/Child">Child</a></li>
      <li><a class="nav-link" routerLink="/contact">Template based</a></li>
      <li><a class="nav-link" routerLink="/responsive">Responsive</a></li>
      <li><a class="nav-link" routerLink="/context">Context</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>