
<div class="row">
  <div class="col-md-6">
    <app-contextChild [productdata]="peopledata">
      <h2 class="head" [ngStyle]="{'color':'red'}">New List</h2>
      <h2 class="tail" [ngStyle]="{'color':'red'}">Bye from smudge</h2>
    </app-contextChild>
  </div>
  <div class="col-md-6">
    <app-contextChild [productdata]="toppeopledata">
      <h2 class="head" [ngStyle]="{'color':'Blue'}">Top List</h2>
      <h2 class="tail" [ngStyle]="{'color':'blue'}">Bye from subi</h2>
    </app-contextChild>
  </div>

</div>

